@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StanfordHospital</title>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StanfordHospital.styles.css" asp-append-version="true" /> *@

    <link href="~/css/datatablecss/datatables.css" rel="stylesheet" />

    <link href="~/css/datatablecss/datatables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">

    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    @if(SignInManager.IsSignedIn(User))
    {
        <div class="wrapper">

            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>

            <partial name="_Navbar"   />
            <partial name="_Sidebar"   />



            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="container-fluid">
                    <partial name="_Header"   />
                    <!--/ .content-header-->
                    <!--Main Context-->
                    <section class="content">
                        <div class="container-fluid">
                            @RenderBody()
                        </div> <!-- /.content-header -->
                    </section>
                    <!--content-->
                </div>
                <!--content-wrapper->

                <!-- /.content-wrapper -->
            </div>
        </div>

        <partial name="_Footer" />
    }
    else
    {
        @RenderBody()
    }

    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <script src="~/plugins/sparklines/sparkline.js"></script>

    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>

    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <script src="~/dist/js/adminlte.js"></script>

    <script src="~/dist/js/pages/dashboard.js"></script>
    <script src="~/datatables/datatables.js"></script>
    <script src="~/datatables/datatables.min.js"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("datatable", required: false)
    @RenderSection("deleteuser", required: false)
</body>
</html>
