@model IEnumerable<StanfordHospital.Models.Appointment>

@{
    ViewData["Title"] = "AppointmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var today = DateTime.Now;
}

<h1>Appointment Report</h1>
<br />

<form class="row g-3">
    <div class="form-group col-md-6">
        <label class="control-label">Select Patient</label>
        <select id="patient" class="form-control">
            <option value="">Select Patient</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">Select Doctor</label>
        <select id="doctor" class="form-control">
            <option value="">Select Doctor</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">From</label>
        <input id="fromDate" class="form-control" type="date" value="@firstDayOfMonth.ToString("yyyy-MM-dd")" max="@today.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">To</label>
        <input id="toDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">Select Appointment Status</label>
        <select id="status" class="form-control">
            <option value="">--Select Status--</option>
            <option value="Completed">Completed</option>
            <option value="Pending">Pending</option>
            <option value="Canceled">Canceled</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label>Cases</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cases" value="" checked>
            <label class="form-check-label" for="Newcase">
                All Case
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cases" value="OldCase" >
            <label class="form-check-label" for="Oldcase">
                Old Case
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cases" value="NewCase">
            <label class="form-check-label" for="Newcase">
               New Case
            </label>
        </div>
    </div>
    <div class="form-group col-md-3">
        <br />
        <button type="button" id="search" class="btn btn-primary btn-lg float-right">Search</button>
    </div>
</form>

<table class="table" id="appointmentreport">
    <thead>
        <tr style="background-color:dodgerblue;">
            <th>
                Patient
            </th>
            <th>
                Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCharges)
            </th>
            <th>
                Extra Charges Sub Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Firstname)
                    @Html.DisplayFor(modelItem => item.Patient.Lastname)
                </td>
                <td>
                    Dr.

                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonForAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCharges)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisCharges)
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Appointmentid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Appointmentid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Appointmentid">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"></td>
            <td><strong>TotalPrice:</strong><br /><strong>@Model.Sum(i => i.Price)</strong></td>
            <td colspan="8" class="text-right"><strong>TotalExtraCharges:</strong><br /><strong>@Model.Sum(i => i.DiagnosisCharges)</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("PatientName", "Report")',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#patient').append($('<option>').val(item.patientid).text(item.fullName));
                    });
                }
            });

            $.ajax({
                url: '@Url.Action("DoctorRole", "Report")',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#doctor').append($('<option>').val(item.id).text(item.fullName));
                    });
                }
            });
        });

        $('#search').click(function () {
            showReport();
        });

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0'); // Month starts from 0
            var year = date.getFullYear();
            var hours = date.getHours().toString().padStart(2, '0');
            var minutes = date.getMinutes().toString().padStart(2, '0');
            return day + '-' + month + '-' + year + ' ' + hours + ':' + minutes;
        }

        function calculateTotals(data) {
            var totalDiagnosisCharges = 0;
            var totalPrice = 0;

            $.each(data, function (index, item) {
                totalDiagnosisCharges += item.diagnosisCharges;
                totalPrice += item.price;
            });

            $('tfoot td:eq(1)').html("<strong>TotalPrice:</strong><br/><strong>" + totalPrice + "</strong>");
            $('tfoot td:eq(2)').html("<strong>Total Extra Charges:</strong><br /><strong>" + totalDiagnosisCharges + "</strong>");
        }

        function showReport() {
            var patientId = $('#patient').val();
            var doctorId = $('#doctor').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var status = $('#status').val();
            var cases = $('input[name="cases"]:checked').val();

            $.ajax({
                url: '@Url.Action("AppointmentReport", "Report")',
                type: 'GET',
                data: {
                    patientId: patientId,
                    doctorId: doctorId,
                    fromDate: fromDate,
                    toDate: toDate,
                    status: status,
                    cases: cases
                },
                success: function (data) {
                    $("#appointmentreport tbody").empty();
                    $.each(data, function (index, item) {
                        var row = "<tr><td>" + item.patientFullname + "</td><td>Dr. " + item.doctorfullname + "</td><td>" + formatDate(item.appointmentTime )+ "</td><td>" + item.appointmentStatus + "</td><td>" + item.reasonForAppointment + "</td><td>" + item.cases + "</td><td>" + item.price + "</td><td>" + item.extraCharges + "</td><td>" + item.diagnosisCharges + "</td><td>" + "</td></tr>";
                        $("#appointmentreport tbody").append(row);
                    });
                    calculateTotals(data);
                },
                error: function (resp) {
                    console.log("Search error:", resp);
                }
            });
        }

        </script>
}



@section appointmentreport {
    <script src="~/js/appointmentreport.js"></script>
}