@model IEnumerable<StanfordHospital.Models.Ipd>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var today = DateTime.Now;
}

<h1>Report</h1>

<form class="row g-3">
    <div class="form-group col-md-6">
        <label class="control-label">Select Patient</label>
        <select id="patient" class="form-control">
            <option value="">Select Patient</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">Select Doctor</label>
        <select id="doctor" class="form-control">
            <option value="">Select Doctor</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">From</label>
        <input id="fromDate" class="form-control" type="date" value="@firstDayOfMonth.ToString("yyyy-MM-dd")" max="@today.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">To</label>
        <input id="toDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group col-md-6">
        <label class="control-label">Select Room Type</label>
        <select id="roomtype" class="form-control">
            <option value=''>--Select Room Type--</option>
            <option value="General Room">General Room</option>
            <option value="ICU Room">ICU Room</option>
            <option value="Private Room">Private Room</option>
            <option value="Single Room (Non-AC and AC)">Single Room (Non-AC and AC)</option>
            <option value="Deluxe Room (Non-AC and AC)">Deluxe Room (Non-AC and AC)</option>
            <option value="Suite">Suite</option>
            <option value="Presidential Suite">Presidential Suite</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <br/>
        <button type="button" id="search" class="btn btn-primary btn-lg float-right">Search</button>
    </div>
</form>

<p>
</p>
<br /><br />


<table class="table" id="reportlist">
    <thead>
        <tr style="background-color:dodgerblue;">
            <th>
                Patient
            </th>
            <th>
                Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDate)
            </th>
            <th>
                Extra Charges
            </th>
            <th>
                Extra Charges Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerDayRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRoomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediclaimName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Firstname)
                    @Html.DisplayFor(modelItem => item.Patient.Lastname)
                </td>
                <td>
                    Dr.
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerDayRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRoomPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediclaimName)
                </td>
                @* <td>
            <a asp-action="Edit" asp-route-id="@item.Ipdid">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Ipdid">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Ipdid">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>
@section reportlist {
    <script src="~/js/reportlist.js"></script>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("PatientName", "Report")',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#patient').append($('<option>').val(item.patientid).text(item.fullName));
                    });
                }
            });

            $.ajax({
                url: '@Url.Action("DoctorRole", "Report")',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#doctor').append($('<option>').val(item.id).text(item.fullName));
                    });
                }
            });
        });

        $('#search').click(function () {
            showReport();
        });

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0'); 
            var year = date.getFullYear();
            var hours = date.getHours().toString().padStart(2, '0');
            var minutes = date.getMinutes().toString().padStart(2, '0');
            var seconds = date.getSeconds().toString().padStart(2, '0');
            return day + '-' + month + '-' + year + ' ' + hours + ':' + minutes + ':' + seconds;
        }

        function showReport() {
            var patientId = $('#patient').val();
            var doctorId = $('#doctor').val();
            var roomType = $('#roomtype').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();

            $.ajax({
                url: '@Url.Action("SearchReport", "Report")',
                type: 'GET',
                data: {
                    patientId: patientId,
                    doctorId: doctorId,
                    roomType: roomType,
                    fromDate: fromDate,
                    toDate: toDate
                },
                success: function (data) {
                    $("#reportlist tbody").empty();
                    $.each(data, function (index, item) {
                        var row = "<tr><td>" + item.patientFullname + "</td><td>Dr." + item.doctorfullname + "</td><td>" + formatDate(item.admitDate) + "</td><td>" + formatDate(item.dischargeDate) + "</td><td>" + item.extraCharges + "</td><td>" + item.diagnosisCharges + "</td><td>" + item.roomType + "</td><td>" + item.roomCharges + "</td><td>" + item.perDayRoom + "</td><td>" + item.totalRoomPrice + "</td><td>" + item.mediclaimName + "</td><td>" + "</td></tr>";
                        $("#reportlist tbody").append(row);
                    });
                },
                error: function (resp) {
                    console.log("Search error:", resp);
                }
            });
        }

        // showReport();
    </script>
}