@model IEnumerable<StanfordHospital.Models.Patient>

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- Rest of your Patient view HTML -->

<h1>Patient</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Patient</a>
</p>
<table class="table" id="patientlist">
    <thead>
        <tr style="background-color:#1E90FF;">
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                Contact No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Patientid"><i class='fas fa-edit'></i></a>
                    <button type="button" class="btn btn-danger" onclick="confirmFunction('@item.Patientid')"><i class='fas fa-trash-alt'></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmFunction(Patientid) {
            if (confirm('Are you sure you want to delete this Patient') == true) {
                deletePatient(Patientid)
            }
        }

        function deletePatient(Patientid) {
            $.ajax({
                url: "@Url.Action("DeletePatient", "Patient")",
                datatype: "json",
                data: { Patientid: Patientid },
                success: function (resp) {

                    if (resp.status) {
                        location.reload();
                    }
                    else {
                        alert("Patient is not deleted");
                    }

                },
                error: function (resp) {
                    console.log("Delete Patient error:", resp);
                }
            });
        }
    </script>
}

@section patientlist {
    <script src="~/js/patientlist.js"></script>
}