@model IEnumerable<StanfordHospital.Models.Appointment>

@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>Appointment</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Appointment</a>
</p>
<table class="table" id="appointmentlist">
    <thead>
        <tr>
            <th>
                Select Patient
            </th>
            <th>
                Select Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForAppointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Firstname)

                    @Html.DisplayFor(modelItem => item.Patient.Lastname)
                </td>
                <td>Dr. 
                    @Html.DisplayFor(modelItem => item.User.FirstName)

                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonForAppointment)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Appointmentid"><i class='fas fa-edit'></i></a>
                    <a class="btn btn-danger" asp-action="Delete" onclick="confirmFunction('@item.Appointmentid')"><i class='fas fa-trash-alt'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmFunction(Appointmentid) {
            if (confirm('Are you sure you want to delete this Appointment') == true) {
                deleteAppointment(Appointmentid)
            }
        }

        function deleteAppointment(Appointmentid) {
            $.ajax({
                url: "@Url.Action("DeleteAppointment", "Appointment")",
                datatype: "json",
                data: { Appointmentid: Appointmentid },
                success: function (resp) {

                    if (resp.status) {
                        location.reload();
                    }
                    else {
                        alert("Appointment is not deleted");
                    }
                },
                error: function (resp) {
                    console.log("Delete Appointment error:", resp);
                }
            });
        }
    </script>
}

@section appointmentlist{
    <script src="~/js/appointmentlist.js"></script>
}
