@model StanfordHospital.Models.Dtos.AppointmentDto

@{
    ViewData["Title"] = "EditAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">

<h1>Edit Appointment</h1>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditAppointment" class="row g-3" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointmentid" />
            <div class="form-group col-md-6">
                <label asp-for="Patientid" class="control-label">Select Patient</label><span class="text-danger">*</span>
                <select asp-for="Patientid" class="form-control selectpatient">
                </select>
                <span asp-validation-for="Patientid" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Id" class="control-label">Select Doctor</label><span class="text-danger">*</span>
                <select asp-for="Id" class="form-control selectdoctor">
                </select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentDate" class="control-label">Appointment Date</label><span class="text-danger">*</span>
                <input asp-for="AppointmentDate" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentTime" class="control-label">Appointment Time</label><span class="text-danger">*</span>
                <input asp-for="AppointmentTime" class="form-control" type="time" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentStatus" class="control-label">Appointment Status</label><span class="text-danger">*</span>
                <select asp-for="AppointmentStatus" class="form-control">
                    <option>--Select Status--</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="Canceled">Canceled</option>
                </select>
                <span asp-validation-for="AppointmentStatus" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ReasonForAppointment" class="control-label">Reason For Appointment</label><span class="text-danger">*</span>
                <textarea asp-for="ReasonForAppointment" class="form-control"></textarea>
                <span asp-validation-for="ReasonForAppointment" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Doctor"))
            {
                ViewBag.isdoctor = "active";
                <div class="form-group col-md-6">
                    <label asp-for="MultipleDiagnosis" class="control-label">Diagnosis<span class="text-danger">*</span></label>
                    <select asp-for="MultipleDiagnosis" class="form-control" multiple>
                        <option value="Clinical Diagnosis">Clinical Diagnosis</option>
                        <option value="Laboratory Diagnosis">Laboratory Diagnosis</option>
                        <option value="Imaging Diagnosis">Imaging Diagnosis</option>
                        <option value="Pathological Diagnosis">Pathological Diagnosis</option>
                        <option value="Differential Diagnosis">Differential Diagnosis</option>
                        <option value="Genetic Diagnosis">Genetic Diagnosis</option>
                        <option value="Provisional Diagnosis">Provisional Diagnosis</option>
                        <option value="Primary Diagnosis">Primary Diagnosis</option>
                        <option value="Secondary Diagnosis">Secondary Diagnosis</option>
                        <option value="Comorbid Diagnosis">Comorbid Diagnosis</option>
                    </select>
                </div>
            }

            @if (User.IsInRole("Doctor"))
            {
                <div class="form-group col-md-6">
                    <label asp-for="Prescription" class="control-label">Prescription</label><span class="text-danger">*</span>
                    <textarea asp-for="Prescription" class="form-control"></textarea>
                    <span asp-validation-for="Prescription" class="text-danger"></span>
                </div>
            }
            <div class="form-group col-md-6">
                <label>Case</label><span class="text-danger">*</span>
                <div class="form-check">
                    <input asp-for="Cases" id="oldcase" class="form-check-input" type="radio" value="OldCase">
                    <label asp-for="Cases" class="form-check-label">
                        OldCase
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Cases" id="newcase" class="form-check-input" type="radio" value="NewCase">
                    <label asp-for="Cases" class="form-check-label">
                        NewCase
                    </label>
                </div>
                <span asp-validation-for="Cases" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Price" class="control-label">Price</label><span class="text-danger">*</span>
                <input asp-for="Price" class="form-control" readonly/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Doctor"))
            {
                ViewBag.isdoctor = "active";
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6">
                    <label asp-for="DiagnosisCharges" class="control-label">Extra Charges SubTotal</label><span class="text-danger">*</span>
                    <input asp-for="DiagnosisCharges" id="DiagnosisCharges" class="form-control" readonly />
                    <span asp-validation-for="DiagnosisCharges" class="text-danger"></span>
                </div>
            }
            <div class="form-group col-md-6"></div>
            <div class="form-group col-md-6">
                <label asp-for="MultipleExtraCharges" class="control-label">Extra Charges<span asp-validation-for="MultipleExtraCharges" class="text-danger"></span></label>
                <select asp-for="MultipleExtraCharges" id="extracharges" class="form-control" multiple>
                    <option>--Select Extra Charges--</option>
                    <option value="Covid Vaccine">Covid Vaccine</option>
                    <option value="X-Ray">X-Ray</option>
                    <option value="Full Body Checkup">Full Body Checkup</option>
                    <option value="ECG">ECG</option>
                    <option value="Emergency Charge">Emergency Charge</option>
                    <option value="Oxygen Charges">Oxygen Charges</option>
                    <option value="RBS">RBS</option>
                    <option value="Endoscopy">Endoscopy</option>
                    <option value="Rehabilitation">Rehabilitation</option>
                    <option value="Stethoscope">Stethoscope</option>
                    <option value="MRI ">MRI </option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Save</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('MultipleDiagnosis')
</script> 

<script>
    function ExtraCharges() {
        var extrachargesSelect = document.getElementById("extracharges");
        var selectedOptions = extrachargesSelect.selectedOptions;
        var TotalExtraCharges = 0;

        for (var i = 0; i < selectedOptions.length; i++) {
            var option = selectedOptions[i].value;
            TotalExtraCharges += getextracharges(option);
        }
        document.getElementById("DiagnosisCharges").value = TotalExtraCharges;
    }
    function getextracharges(extracharges) {
        var Extracharges = {
            "Covid Vaccine": 225,
            "X-Ray": 2000,
            "Full Body Checkup": 1600,
            "ECG": 500,
            "Emergency Charge": 2500,
            "Oxygen Charges": 5740,
            "RBS": 270,
            "Endoscopy": 4000,
            "Rehabilitation": 5500,
            "Stethoscope": 1200,
            "MRI":7000
        };
        return Extracharges[extracharges] || 0;
    }
    document.getElementById("extracharges").addEventListener("change", ExtraCharges);
    ExtraCharges();
</script>


@section Scripts {
    <script>
        function calculatePrice() {
            var priceInput = document.getElementById("Price");
            var oldCaseRadio = document.getElementById("oldcase");
            var newCaseRadio = document.getElementById("newcase");

            if (oldCaseRadio.checked) {
                priceInput.value = 200;
            } else if (newCaseRadio.checked) {
                priceInput.value = 500;
            }
        }
        document.getElementById("oldcase").addEventListener("change", calculatePrice);
        document.getElementById("newcase").addEventListener("change", calculatePrice);
        calculatePrice();
    </script>
    <script>
        $(document).ready(function () {
            function getDoctorRole() {
                $.ajax({
                    url: "@Url.Action("DoctorRole", "Appointment")",
                    type: "GET",
                    dataType: "Json",
                    success: function (result) {
                        let selectdoctor = $("#Id")
                        selectdoctor.empty();
                        var mySelect = $('.selectdoctor');
                        $.each(result, function (idx, item) {
                            mySelect.append(
                                $('<option></option>').val(item.id).html(item.fullName)
                            );
                        });
                        var selectedDoctorId = "@Model.Id";
                        if (selectedDoctorId !== null && selectedDoctorId !== "") {
                            selectdoctor.val(selectedDoctorId);
                        }
                    },
                    error: function () {
                        alert('Failed to retrieve doctors.');
                    }
                });
            }
            getDoctorRole();
        })
    </script>
    <script>
        $(document).ready(function () {
            function getPatientName() {
                $.ajax({
                    url: "@Url.Action("PatientName", "Appointment")",
                    type: "GET",
                    dataType: "Json",
                    success: function (result) {
                        let selectpatient = $("#Patientid")
                        selectpatient.empty();
                        var mySelect = $('.selectpatient');
                        $.each(result, function (idx, item) {
                            mySelect.append(
                                $('<option></option>').val(item.patientid).html(item.fullName)
                            );
                        });
                        var selectedPatientId = "@Model.Patientid";
                        if (selectedPatientId !== null && selectedPatientId !== "") {
                            selectpatient.val(selectedPatientId);
                        }
                    },
                    error: function () {
                        alert('Failed to retrieve patients.');
                    }
                });
            }
            getPatientName();
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
