@model IEnumerable<StanfordHospital.Models.Ipd>

@{
    ViewData["Title"] = "Ipd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>In-Patient Department</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Ipd</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Select Patient
            </th>
            <th>
                Select Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCharges)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Firstname)
                    @Html.DisplayFor(modelItem => item.Patient.Lastname)
                </td>
                <td>
                    Dr.

                    @Html.DisplayFor(modelItem => item.User.FirstName)

                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonForAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCharges)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Ipdid"><i class='fas fa-edit'></i></a>
                    <a class="btn btn-danger" asp-action="Delete" onclick="confirmFunction('@item.Ipdid')"><i class='fas fa-trash-alt'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        function confirmFunction(Ipdid) {
            if (confirm('Are you sure you want to delete this Ipd') == true) {
                deleteIpd(Ipdid)
            }
        }

        function deleteIpd(Ipdid) {
            $.ajax({
                url: "@Url.Action("DeleteIpd", "Ipd")",
                datatype: "json",
                data: { Ipdid: Ipdid },
                success: function (resp) {

                    if (resp.status) {
                        location.reload();
                    }
                    else {
                        alert("Ipd is not deleted");
                    }
                },
                error: function (resp) {
                    console.log("Delete Ipd error:", resp);
                }
            });
        }
    </script>
}

@section ipdlist {
    <script src="~/js/ipdlist.js"></script>
}