@model IEnumerable<StanfordHospital.Models.Ipd>

@{
    ViewData["Title"] = "Ipd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>Ipd</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Ipd</a>
</p>
<table class="table" id="ipdlist">
    <thead>
        <tr style="background-color:dodgerblue;">
            <th>
                Select Patient
            </th>
            <th>
                Select Doctor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                Select Extra Charges
            </th>
            <th>
                Extra Charges Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerDayRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRoomPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediclaimName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashLess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Firstname)
                    @Html.DisplayFor(modelItem => item.Patient.Lastname)
                </td>
                <td>
                    Dr.

                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerDayRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRoomPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediclaimName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashLess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceNumber)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Ipdid"><i class='fas fa-edit'></i></a>
                    <a class="btn btn-danger" asp-action="Delete" onclick="confirmFunction('@item.Ipdid')"><i class='fas fa-trash-alt'></i></a>
                    <a class="btn btn-primary" asp-action="IpdPrint" asp-route-id="@item.Ipdid" target="_blank"><i class="fas fa-print"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmFunction(Ipdid) {
            if (confirm('Are you sure you want to delete this Ipd') == true) {
                deleteIpd(Ipdid)
            }
        }

        function deleteIpd(Ipdid) {
            $.ajax({
                url: "@Url.Action("DeleteIpd", "Ipd")",
                datatype: "json",
                data: { Ipdid: Ipdid },
                success: function (resp) {

                    if (resp.status) {
                        location.reload();
                    }
                    else {
                        alert("Ipd is not deleted");
                    }
                },
                error: function (resp) {
                    console.log("Delete Ipd error:", resp);
                }
            });
        }
    </script>
}
@section ipdlist {
    <script src="~/js/ipdlist.js"></script>
}